<%= form_with model: [ @post, @post.comments.build ], local: true do |form| %>
  <% if current_user %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <p>
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>